body {
    font-family: 'Times New Roman';
}

.numberPages {
    display: inline-block;
    position: absolute;
    right: 10px;
    font-size: 12px;
}

caption {
    border: 1px solid #CCCCCC;
    border-bottom: none;
    text-align: left;
    padding: 5px 0 5px 5px;
    background-color: #CCCCCC;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

nav {
    border: 1px solid #CCCCCC;
    border-top: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 1192px;
    position: relative;
    padding: 3px;
    background: #f1f5f5; /* Old browsers */
    background: -moz-linear-gradient(top, #f1f5f5 0%, #dbdfe4 40%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f1f5f5), color-stop(40%,#dbdfe4)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #f1f5f5 0%,#dbdfe4 40%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #f1f5f5 0%,#dbdfe4 40%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #f1f5f5 0%,#dbdfe4 40%); /* IE10+ */
    background: linear-gradient(to bottom, #f1f5f5 0%,#dbdfe4 40%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1f5f5', endColorstr='#dbdfe4',GradientType=0 ); /* IE6-9 */
}

button {
    margin-left: 8px;
    width: 25px;
    height: 25px;
    
}

/*Table*/
table {
    border: 1px solid black;
    border-collapse: collapse;
    width: 1200px;
}

td {
    border: 1px solid #CCCCCC;
    padding: 5px 10px;
}


table tr:first-child td {
    background: #f1f5f5; /* Old browsers */
    background: -moz-linear-gradient(top, #f1f5f5 0%, #dbdfe4 40%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f1f5f5), color-stop(40%,#dbdfe4)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #f1f5f5 0%,#dbdfe4 40%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #f1f5f5 0%,#dbdfe4 40%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #f1f5f5 0%,#dbdfe4 40%); /* IE10+ */
    background: linear-gradient(to bottom, #f1f5f5 0%,#dbdfe4 40%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1f5f5', endColorstr='#dbdfe4',GradientType=0 ); /* IE6-9 */
}

table tr:nth-child(2) td {
    background: #f1f5f5; /* Old browsers */
    background: -moz-linear-gradient(top, #f1f5f5 0%, #dbdfe4 40%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f1f5f5), color-stop(40%,#dbdfe4)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #f1f5f5 0%,#dbdfe4 40%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #f1f5f5 0%,#dbdfe4 40%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #f1f5f5 0%,#dbdfe4 40%); /* IE10+ */
    background: linear-gradient(to bottom, #f1f5f5 0%,#dbdfe4 40%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1f5f5', endColorstr='#dbdfe4',GradientType=0 ); /* IE6-9 */
}

/*end table--------------------------*/


/*Links*/
a {
    text-decoration: none;
}

    a:link, a:visited, a:hover, a:active {
        color: black;
    }

    a:hover {
        border: 1px solid orange;
        padding: 5px;
    }
/*end links*/




#product {
    width: 30px;
}

#name {
    width: 175px;
}

#price {
    width: 80px;
}

#unit {
    width: 110px;
}

#stock {
    width: 90px;
}


img {
    height: 15px;
    width: 15px;
    margin-left: 5px;
    border: 1px solid #CCCCCC;
    padding: 2px;
    vertical-align: sub;
}

input[type="text"], input[type="number"] {
    height: 14px;
}