div.main {
    padding: 0 15px 0 15px;
    width: 540px;
    height: 230px;
    border-top: 6px dotted #ffd800;
    border-right: 6px solid #14c232;
    border-bottom: 6px groove #0094ff;
    border-left: 6px dashed #ff0000;
    margin: 30px 0 0 30px;
    box-shadow: 15px 15px 3px #808080;
    position: relative;
}

header {
    text-align: center;
    font-size: 2.3em;
    font-family: Arial;
    text-shadow: 10px 7px 9px #808080;
}

div.armor {
    margin-top: 60px;
    border: 2px solid blue;
    border-radius: 100px;
}

div.skin {
    border: 2px solid green;
    border-radius: 100px;
}

div.flesh {
    border: 2px solid #ffd800;
    border-radius: 100px;
}

div.touch {
    border: 2px solid red;
    border-radius: 100px;
}

p {
    text-align: center;
    font-size: 1.2em;
}

div.bodyButton {
    text-align: center;
    padding: 0 0 10px 0;
}

div.notButton {
    width: 180px;
    display: inline-block;
    background-color: rgb(216, 146, 26);
    text-align: center;
    border: outset rgb(249, 162, 4);
}

div.circle {
    width: 30px;
    height: 30px;
    background-color: rgba(128, 128, 128, 0.3);
    border-radius: 100px;
    position: absolute;
    left: 445px;
    top: 145px;
}

    div.circle > div {
        border: 3px dotted white;
        border-radius: 30%;
        height: 14px;
        width: 14px;
        padding: 0;
        margin-left: 7px;
    }

div.circle2 {
    width: 40px;
    height: 40px;
    background-color: rgba(128, 128, 128, 0.3);
    border-radius: 100px;
    position: absolute;
    left: 480px;
    top: 100px;
}

    div.circle2 > div {
        border: 3px dotted white;
        border-radius: 30%;
        height: 20px;
        width: 20px;
        padding: 0;
        margin-left: 7px;
    }


div.circle3 {
    width: 90px;
    height: 60px;
    background-color: rgba(128, 128, 128, 0.3);
    border-radius: 60px;
    color: white;
    text-align: center;
    padding: 5px;
    position: absolute;
    top: 20px;
    left: 530px;
}

    div.circle3 > div {
        font-weight: bold;
        font-family: Arial;
        margin-top: 2px;
        padding: 5px 0 5px 0;
        border: 3px dotted white;
        border-radius: 60px;
    }
