div.wrapper 
{
    position: relative;
    
    display:block;
    width: 680px;
    height: 530px;
    border: 2px solid black;
    border-radius: 10px;
}

header 
{
    
    margin: 0 auto;
    border-bottom: 2px solid black;
    width: 640px;
}

p 
{
    font-weight: bold;
}

nav
{
    text-align: center;
}
nav ul 
{
    
    margin-bottom: 10px;
}

nav li 
{
    display: inline-block;
    list-style: none;
    
}

nav a
{
    
    color: rgb(0,128,255);
    font-size: 1.5em;
    font-weight: bold;
    
}




.rangeSlider 
{
    margin-top: 50px;
    margin-right: 25px;
    float: right;
    font-size: 1.1em;
    
    

}

input[type=range]
{
   width: 170px;
   margin: 10px;
   margin-top: 33px;
   
}




.content 
{
    
    width: 440px;
    height: 440px;
    border: 2px solid black;
    margin: 9px;
    
   

}


.mac {
   display: inline-block;
   margin-left: 2px;
   margin-top: 2px;
 
   
}

img 
{
    
    width: 100px;
    height: 60px;
    float: left;
} 




legend 
{
    font-size: 1.1em;
   text-align: center;
   padding-left: 10px;
   padding-right: 10px;
}

fieldset 
{
    
    border: 2px solid black;
    width: 183px;
    height: 115px;
    
    
    
}


