body, li, ul, nav, header, footer, table, div, span, form, textarea, img {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("img/formBackground.jpg");
}

img {
    height: 15px;
    width: 30px;
  
}

#wrapper {
    width: 720px;
    height: 500px;
    margin: 45px 0 0 80px;
    font-family: Arial;
    
}

    #wrapper header {
        color: white;
        font-weight: bold;
        font-size: 14px;
        margin-top: 5px;
    }



    #wrapper form {
        border: 1px solid white;
        border-radius: 3px;
        font-size: 14px;
        background-color: rgba(146, 181, 246, 0.3);
        margin-top: 5px;
        width: 370px;
        padding: 5px 5px 5px 9px;
        text-align: center;
    }

        #wrapper form span {
            font-size: 13px;
            float: left;
            clear: both;
        }


        #wrapper form input[type] {
            width: 180px;
            padding: 2px 2px 2px 5px;
        }


        #wrapper form input[type="radio"] {
            width: 30px;
        }

        #wrapper form textarea {
            width: 180px;
        }

    #wrapper button {
        margin-top: 5px;
        background-color: black;
        color: white;
        border: none;
        border-radius: 10px;
        padding: 5px 20px;
        margin-left: 140px;
    }

    #wrapper button:hover {
           color: green;
    }


     #wrapper button:active {
         border-bottom: 1px inset silver;
         border-right: 1px inset silver;
     }
